<% if (!user) { %>
	<h2>Welcome! Please log in.</h2>
<% } else { %>
	<h2>Hello, <%= user.id %>.</h2>
	<h2>Hello, <%= user.displayName %>.</h2>
	<h2>Hello, <%= user.name %>.</h2>
	<h2>Hello, <%= user.emails %>.</h2>
<% } %>
